/* import downloaded font to be hosted */
@font-face {
  font-family: myFirstFont;
  src: url(fonts/Jersey_10/Jersey10-Regular.ttf);
}
body {
  background-color: bisque;
}
/*don't space after the element of the id or else it won't apply the font*/
p#pressstart {
  font-family: myFirstFont;
  font-size: 10vh;
  text-align: center;
  background: linear-gradient(black, white);

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*drop shadow for press start text*/
.classWithShadow {
  text-shadow: 2px 2px #000000;
}
